<style>
    form {
        width: 70%;
        margin: auto;
    }
    button {
        width: 30%;
        margin-left: 30%;
        margin-top: 20px;
        
    }
</style>


<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Ask A Question</h1>
      <p class="lead">Here you can Ask questions related to JEC, Jabalpur College and gets answer from the students.</p>
    </div>

    <form>
        <div class="form-group">
          <label for="inpQue">Write Your Query</label>
          <textarea class="form-control" id="inpQue" rows="3"></textarea>
        </div>
        <br>
        <button onclick="createQue()" type="submit" class="btn btn-primary btn-block">Post</button>
    </form>



  </div>





<script src="../../components/post_que/post_que.js"></script>


<!-- <script src="../../app/common.js"></script> -->