
    <div class="container my-2">
        <h1>My Profile</h1>
        <h2 style="display: inline;">Name : </h2><h2  style="display: inline;" id="name"></h2>    
        <br>
        <h4 style="display: inline;">Username : </h4><h4 id="username" style="display: inline;"></h4>
        <br>
        <h4 style="display: inline;">Roll No : </h4><h4 style="display: inline;" id="rollno"></h4>
        <br>
        <h4 style="display: inline;">Branch : </h4><h4 style="display: inline;" id="branch"></h4>
        <br>
        <h4 style="display: inline;">Semester : </h4><h4 id="semester" style="display: inline;"></h4>
        <br>
        <h4 style="display: inline;">College : </h4><h4 style="display: inline;" id="college"></h4>
        <br>
        <br>
        <button class="btn btn-primary" style="width: 20%;" onclick="editProfile()">Edit Profile</button>
    </div>




<script src="../../components/my_profile/my_profile.js"></script>
<!-- <script src="../../app/common.js"></script> -->
</html>