<style>
    .card {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .queBody {
        text-decoration: none;
    }
    .queBody h5 {
        color: black;
        font-weight: bold;
        font-size: x-large;
    }
</style>


<div class="container my-2">
    <h1 class="h1 text-center">Recent Questons</h1>
    <div class="column" id="question-container">
        
    </div>

    
</div>




<script src="../../components/all_que/all_que.js"></script>
<script>
    loadQuestions()
</script>